<div class="cta-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-9">
                <p>
							<span>
								NEED HELP?							</span>
                    Let us help you find everything you need to know with our guide </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <button type="button" class="goTocta btn btn-warning">
                    GET IT NOW
                </button>
            </div>
        </div>
    </div>
</div>
