<footer id="colophon" class="site-footer">

    <div class="footer-mid">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">

                    <h3 class="bluetitle">Select Your State</h3>
                    <select id="footerStates" class="form-control" autocomplete="off">
                        <option value="---">Select Your State</option>
                        <option value="state/alabama/default.htm">Alabama</option>
                        <option value="state/alaska/default.htm">Alaska</option>
                        <option value="state/arizona/default.htm">Arizona</option>
                        <option value="state/arkansas/default.htm">Arkansas</option>
                        <option value="state/california/default.htm">California</option>
                        <option value="state/colorado/default.htm">Colorado</option>
                        <option value="state/connecticut/default.htm">Connecticut</option>
                        <option value="state/delaware/default.htm">Delaware</option>
                        <option value="state/florida/default.htm">Florida</option>
                        <option value="state/georgia/default.htm">Georgia</option>
                        <option value="state/hawaii/default.htm">Hawaii</option>
                        <option value="state/idaho/default.htm">Idaho</option>
                        <option value="state/illinois/default.htm">Illinois</option>
                        <option value="state/indiana/default.htm">Indiana</option>
                        <option value="state/iowa/default.htm">Iowa</option>
                        <option value="state/kansas/default.htm">Kansas</option>
                        <option value="state/kentucky/default.htm">Kentucky</option>
                        <option value="state/louisiana/default.htm">Louisiana</option>
                        <option value="state/maine/default.htm">Maine</option>
                        <option value="state/maryland/default.htm">Maryland</option>
                        <option value="state/massachusetts/default.htm">Massachusetts</option>
                        <option value="state/michigan/default.htm">Michigan</option>
                        <option value="state/minnesota/default.htm">Minnesota</option>
                        <option value="state/mississippi/default.htm">Mississippi</option>
                        <option value="state/missouri/default.htm">Missouri</option>
                        <option value="state/montana/default.htm">Montana</option>
                        <option value="state/nebraska/default.htm">Nebraska</option>
                        <option value="state/nevada/default.htm">Nevada</option>
                        <option value="state/new-hampshire/default.htm">New Hampshire</option>
                        <option value="state/new-jersey/default.htm">New Jersey</option>
                        <option value="state/new-mexico/default.htm">New Mexico</option>
                        <option value="state/new-york/default.htm">New York</option>
                        <option value="state/north-carolina/default.htm">North Carolina</option>
                        <option value="state/north-dakota/default.htm">North Dakota</option>
                        <option value="state/ohio/default.htm">Ohio</option>
                        <option value="state/oklahoma/default.htm">Oklahoma</option>
                        <option value="state/oregon/default.htm">Oregon</option>
                        <option value="state/pennsylvania/default.htm">Pennsylvania</option>
                        <option value="state/rhode-island/default.htm">Rhode Island</option>
                        <option value="state/south-carolina/default.htm">South Carolina</option>
                        <option value="state/south-dakota/default.htm">South Dakota</option>
                        <option value="state/tennessee/default.htm">Tennessee</option>
                        <option value="state/texas/default.htm">Texas</option>
                        <option value="state/utah/default.htm">Utah</option>
                        <option value="state/vermont/default.htm">Vermont</option>
                        <option value="state/virginia/default.htm">Virginia</option>
                        <option value="state/washington/default.htm">Washington</option>
                        <option value="state/washington-dc/default.htm">Washington D.C.</option>
                        <option value="state/west-virginia/default.htm">West Virginia</option>
                        <option value="state/wisconsin/default.htm">Wisconsin</option>
                        <option value="state/wyoming/default.htm">Wyoming</option>
                    </select>
                    <section id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">State
                        Resources</h2>
                        <div class="menu-state-resources-container">
                            <ul id="menu-state-resources" class="menu">
                                <li id="menu-item-379"
                                    class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="../../pages/snap-eligibility/default.html">Eligibility</a>
                                </li>
                                <li id="menu-item-380"
                                    class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="../../pages/snap-how-to-apply/default.html">How to Apply</a>
                                </li>
                                <li id="menu-item-381"
                                    class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="../../pages/snap-benefits/default.html">SNAP Benefits</a>
                                </li>
                                <li id="menu-item-382"
                                    class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="../../pages/snap-denials/default.html">How to Appeal</a>
                                </li>
                                <li id="menu-item-383"
                                    class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="../../pages/snap-ebt/default.html">EBT Cards</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="col">

                    <div class="resources">
                        <h3>Additional Resources</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <a href="../../pages/articles/weekly-saving-tips/default.html">
                                            Weekly Saving Tips</a>
                                    </li>
                                    <li>
                                        <a href="../../pages/articles/meal-planning-tips/default.html">
                                            Meal Planning Tips</a>
                                    </li>
                                    <li>
                                        <a href="../../pages/articles/other-food-assistance-programs/default.html">
                                            Other Food Assistance Programs</a>
                                    </li>
                                    <li>
                                        <a href="../../pages/articles/snap-benefits-overpayment/default.html">
                                            SNAP Benefits Overpayment</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <nav class="site-info navigation navbar navbar-default">
                        <div class="container justify-content-center justify-content-sm-start">
                            <div class='row'>
                                <div class="footer-menu">
                                    <ul id="secondary" class="">
                                        <li id="menu-item-716"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/getting-your-guide/default.html">Getting Your Guide</a>
                                        </li>
                                        <li id="menu-item-37"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/tc/default.html">Terms &#038; Conditions</a>
                                        </li>
                                        <li id="menu-item-36"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/privacy/default.html">Privacy Policy</a>
                                        </li>
                                        <li id="menu-item-35"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/marketing-partners/default.html">Marketing Partners</a>
                                        </li>
                                        <li id="menu-item-40"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/getting-your-guide/default.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav><!-- .site-info -->
                </div>
                <div class="col-sm-3">
                    <img src="../../img/general/security-icons.png" alt="Secured Site"/>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-disclaimer">
        <p>Copyright <i class="fas fa-copyright"></i> 2019 All Rights Reserved</p>
        <div class="disclaimer d-block d-sm-none">
            <p>This site is privately owned and is neither affiliated with, nor endorsed by, nor operated by any
                government agency.</p>
        </div>
    </div>
</footer>
