<footer id="colophon" class="site-footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <nav class="site-info navigation navbar navbar-default">
                        <div class="container justify-content-center justify-content-sm-start">
                            <div class='row'>
                                <div class="footer-menu">
                                    <ul id="secondary" class="">
                                        <li id="menu-item-716"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/getting-your-guide/default.html">Getting Your Guide</a>
                                        </li>
                                        <li id="menu-item-37"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/tc/default.html">Terms &#038; Conditions</a>
                                        </li>
                                        <li id="menu-item-36"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/privacy/default.html">Privacy Policy</a>
                                        </li>
                                        <li id="menu-item-35"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/marketing-partners/default.html">Marketing Partners</a>
                                        </li>
                                        <li id="menu-item-40"
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="../../pages/getting-your-guide/default.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav><!-- .site-info -->
                </div>
                <div class="col-sm-3">
                    <img src="../../img/general/security-icons.png" alt="Secured Site"/>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-disclaimer">
        <p>Copyright <i class="fas fa-copyright"></i> 2019 All Rights Reserved</p>
        <div class="disclaimer d-block d-sm-none">
            <p>This site is privately owned and is neither affiliated with, nor endorsed by, nor operated by any
                government agency.</p>
        </div>
    </div>
</footer>
