<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Main Css -->
<link rel='stylesheet' href='../../css/main.css' type='text/css' media='all'/><link rel='stylesheet' href='../../css/style.css' type='text/css' media='all'/>

<!-- Icons -->
<link rel="shortcut icon" href="../../img/favicon.png"
      type="image/x-icon"/>
<link rel="apple-touch-icon" href="../../img/apple-touch-icon.png"/>
<link rel="apple-touch-icon" sizes="72x72"
      href="../../img/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76"
      href="../../img/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114"
      href="../../img/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120"
      href="../../img/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144"
      href="../../img/apple-touch-icon-144x144.png"/>
<link rel="icon" href="../../img/My-Food-Stamps_org_Favicon-150x150.png" sizes="32x32"/>
<link rel="icon" href="../../img/My-Food-Stamps_org_Favicon.png" sizes="192x192"/>
<link rel="apple-touch-icon-precomposed" href="../../img/My-Food-Stamps_org_Favicon.png"/>

