<header id="masthead" class="site-header fixed-top">
    <div class="d-none d-sm-block">
        <div class="disclaimer">
            <p>This site is privately owned and is neither affiliated with, nor endorsed by, nor operated by any government agency.</p>
        </div>
    </div>
    <div class="container menu-container">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand">
                    <img src="../../img/logo_new.png" alt=""
                         id="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-menu"
                        aria-controls="bs-example-navbar-collapse-1" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div id="header-menu" class="collapse navbar-collapse justify-content-end">
                    <div id="main-menu" class="menu-primary-container">
                        <ul id="menu-primary" class="nav navbar-nav">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-208 active">
                                <a href="/" title="Home">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="../../pages/snap-how-to-apply/default.html" title="How to Apply">How to Apply</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="../../pages/snap-eligibility/default.html" title="Eligibility">Eligibility</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="../../pages/state/default.html" title="States">States</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="../../pages/snap-denials/default.html" title="Denials">Denials</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="../../pages/snap-benefits/default.html" title="Benefits">Benefits</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="../../pages/snap-ebt/default.html" title="EBT">EBT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header><!-- #masthead -->
